    * {
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        margin: 0;
        font: 1rem/1.3rem "Georgia", serif;
        overflow-y: hidden;
    }

    header#header {
        position: fixed;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(238, 238, 238, 0.5);
        height: 55px;
        line-height: 1;
        padding: 0 1rem;
    }

    header#header>* {
        display: block;
        margin: 0;
    }

    h1#logo {
        float: left;
        font-size: 0;
        padding: 15px 0;
    }

    h1#logo svg>path:nth-of-type(n+8) {
        fill: red !important;
    }

    form {
        float: right;
        padding: 10px 0;
    }

    .container {
        display: flex;
        height: calc(100vh);
        padding-top: 55px;
    }

    .container.nothing::before {
        content: "Nothing";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font: bold 7rem/1rem sans-serif;
        display: table;
        color: #e8e8e8;
        line-height: 1;
    }

    .controls {
        padding: 1rem 0.5rem;
        background: #000000;
    }

    .feed {
        min-width: 300px;
        max-width: 300px;
        background: #fff;
        color: #020d32;
        padding: 1rem;
        overflow-y: scroll;
    }

    .feed h3 a {
        display: block;
        font-size: 11px;
        font-family: monospace;
        text-transform: uppercase;
        color: #8d8d8d;
        text-decoration: none;
        letter-spacing: 2px;
    }

    .feed ol {
        margin: 0;
        padding: 0 0 2rem 1rem;
    }

    .feed ol li {
        margin-bottom: 20px;
    }

    p {
        margin-top: 0;
    }

    input[type="url"] {
        width: 320px;
        font: 0.8rem/2.4rem monospace;
        padding: 0 0.8rem;
        height: 35px;
        line-height: 35px;
        border: 2px solid #eee;
        border-radius: 35px;
    }

    button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        font-size: 0;
    }

    .github {
        float: right;
        line-height: 1;
        padding: 15px 0 15px 15px;
    }

    time {
        font-size: 11px;
        display: block;
        text-transform: uppercase;
        color: #000;
        font-family: monospace;
    }

    body:not(.showReader) div#reader {
        display: none;
    }

    body.showReader {
        overflow: hidden;
    }

    div#reader {
        position: fixed;
        background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAEUlEQVQYlWNgIA74jiqisyIAZc8DA44KTHYAAAAASUVORK5CYII=);
        padding: 3rem;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    #reader>span.close {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        background: #1c1259;
        cursor: pointer;
    }

    span.close svg * {
        fill: #fff;
    }

    iframe {
        height: 100%;
        width: 100%;
        background: #fff;
        border: 1rem solid #1c1259;
    }